@import "bloks/aside";
@import "bloks/main";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100%;
}