.app {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color:aquamarine;
}
  
  .lt-grid-container {
    display: grid;
    grid-template-columns: 1fr [Footer];
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "lt-Header" "lt-Main" "lt-Footer";
    height: 100%;
    width: 100%;
  }
  
  .lt-Header { 
    grid-area: lt-Header;
    height: 100px;
  }
  
  .lt-Main {
    grid-area: lt-Main;
    height: calc(100vh - 200px);
  }
  
  .lt-Footer {
    grid-area: lt-Footer; 
    height: 100px;
    background-color: blueviolet;
  }
  
  @media all and (-ms-high-contrast:none) {
    .lt-grid-container {
      display: -ms-grid;
      -ms-grid-columns: 1fr [Footer];
      -ms-grid-rows: 100px 1fr 100px;
      height: 100%;
      width: 100%;
    }
  
    .lt-Header {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-col: 1;
      -ms-grid-col-span: 1;
      height: 100px;
    }
  
    .lt-Main {
      display: -ms-grid;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      -ms-grid-col: 1;
      -ms-grid-col-span: 1;
      height: calc(100% - 200px);
    }
  
    .lt-Footer {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-col: 1;
      -ms-grid-col-span: 1;
      height: 100px;
    } 
  }

.title {
    display: inline-block;
    width: 47%;
    height: 100%;
}

.title__text {
    position: relative;
    margin-top: -0.625em;
    top: 50%;
    left: 10%;
}

.title-nav {
    display: inline-block;
    width: 47%;
    height: 100%;
}

.title-nav__orders {
    position: relative;
    margin-top: -0.625em;
    top: 50%;
    right: 10%;
}