div.productCard
    div.pure-g
        div.productCard__image.pure-u-3-4
        div.pure-u-1-4
            button.productCard__button.pure-button
                = 'Заказать'
            div.productCard__productPrice
                span #{price} 
                span #{currency}
    div.productCard__productDescription
        p(class='product__name') #{title}
        p(class='product__description') #{description}