.product-card {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px;
  font-family: "Open Sans";
  overflow: auto;
  transition: .4s linear;

  &__image-info {
    display: block;
    position: relative;
    height: 400px;
  }

  &__image {
    position: relative;
    display: inline-block;  
  }

  &__info {
    position: relative;
    display: inline-block;
    margin-left: 15px;
  }

  &__title  {
    position: relative;
    text-align: left;
    font-weight: 700;
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2;
  }
  
  &__description {
    display: block;
    position: relative;
    top: 0px; left: 0px; bottom: 0px; right: 0px;
    font-size: 13px;
    text-align: justify;
  }
  
  &__price {
    position: relative;
    color: blue;
    display: block;
    margin-bottom: 5px; 
  }
}