.product-card {
  position: relative;
  display: block;
  margin: 0;
  padding: 16px;
  font-family: "Open Sans";
  overflow: auto;
  transition: .4s linear;

  &__image-info {
    display: block;
    position: relative;
    height: 400px;
  }

  &__image {
    position: relative;
    display: inline-block;  
    max-width: 200px;
  }

  &__info {
    max-width: calc(100% - 200px - 4*16px);
    text-align: center;
    position: absolute;
    top: 0px;
    left: 216px;
    display: inline-block;
    margin-left: 16px;
    margin-top: 30px;
  }

  &__title  {
    position: relative;
    text-align: left;
    font-weight: 700;
    color: rgb(214, 247, 255);
    margin: 0;
    text-transform: uppercase;
    text-align: right;
    font-size: 2rem;
    line-height: 1.3;
  }
  
  &__description {
    display: inline-block;
    position: relative;
    top: 0px; left: 0px; bottom: 0px; right: 0px;
    font-size: 1rem;
    text-align: justify;
  }
  
  &__price {
    position: relative;
    color: white;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px; 
  }
}