.imageWrapper {
    width:400px;
    max-width:400px;
    height:300px;
    max-height: 300px;
    display: inline-block;
    
    &__imageText {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
        &__hidden {
            display: none;
        }
    }
    
    &__image {
        &__hidden {
            display: none;
        }
    }
}