div(class = "main pure-g")
    div(class = "pure-u-1-4")
        div.main__search
            p
                = "Здесь будет поиск"
        div.main__products
            p
                = "Здесь будет список продуктов"
    div(class = "main__productCard pure-u-3-4")