.products {
    display: block;   
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &__item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        background-color: aliceblue;
        padding: 10px;
        margin: 10px;
        margin-bottom: 0;
        transition: background-color .2s ease;
    
        &:last-child {
            margin-bottom: 10px;
        }
    
        &.selected {
            background-color: rgb(218, 230, 240);
        }

        &:hover {
            background-color: #ccc;
        }
    }

    &__item-img-wrapper {
        display: inline-block;
        width: 50%;
    }
    
    &__item-img {
        max-width: 100%;
    }
    
    &__item-description-wrapper {
        display: inline-block;
        width: 50%;
    }
    
    &__item-title {
        font-weight: bold;
    }
    
    &__item-price {
        font-weight: bold;
    }    
}