.products {
    margin: 0;
    padding: 0;

    &__item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        border: 1px solid #000;
        border-bottom: none;
        padding: 10px;
        transition: background-color .2s ease;
    
        &:last-child {
            border-bottom: 1px solid #000;
        }
    
        &_selected,
        &:hover {
            background-color: #ccc;
        }
    }

    &__item-img-wrapper {
        width: 48%;
    }
    
    &__item-img {
        max-width: 100%;
    }
    
    &__item-description-wrapper {
        width: 48%;
    }
    
    &__item-title {
        font-weight: bold;
    }
    
    &__item-price {
        font-weight: bold;
    }    
}