div.productCard
    div.productCard__image
        div.imageWrapper
    div
        div.productCard__button
            div.button
        div.productCard__productPrice
            div.productPrice
    div.productCard__productDescription
        div.productDescription