div.imageWrapper-container {
    height: 300px;
    width: 400px;
}

div.imageWrapper-loadingText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.hidden {
    display: none;
}

img.hidden {
    display: none;
}