.products-list {
    width: 250px;
    float: left;
    position: relative;
    margin-left: -100%;
    padding: 0;
}

.js-search { 
    display: block;
    padding: 10px;
    padding-bottom: 0;
}

.js-products {
    display: block;
}

.product-content {
    float: left;
    width: 100%;
    padding: 0 0 100px;
    overflow: hidden;
}