$list-width: 250px;

.products-view {
    float: left;
    width: 100%;
    padding: 0 0 100px;
    overflow: hidden;
}

.products-list {
    width: $list-width;
    float: left;
    position: relative;
    margin-left: -100%;
    padding: 0;
}

.js-search { 
    display: block;
    padding: 10px;
    padding-bottom: 0;
}

.js-products {
    display: block;
    height: 700px;
}

.js-product-card {
    padding-left: $list-width;
}