div.pure-g
    div.js-navigation.pure-u-1-4
        div.js-search
            p
                = "Здесь будет поиск"
        div.js-products
            p
                = "Здесь будет список продуктов"
    div.js-product-card.pure-u-3-4